
CardWidget {
    width: 100%;
    max-width: 50;
    border: white;
}

CardWidget #color-bar {
    dock: top;
    width: 100%;
    height: 1;
    display: block;
}

CardWidget.red #color-bar {
    background: red;
}

CardWidget.yellow #color-bar {
    background: yellow;
}

CardWidget.blue #color-bar {
    background: blue;
}
CardWidget.hero #color-bar {
    display: none;
}

CardWidget.equipment #color-bar {
    display: none;
}

CardWidget #top {
    layout: horizontal;
    height: auto;
}

CardWidget #pitch {
    width: 1fr;
}

CardWidget.hero #pitch {
    display: none;
}

CardWidget.equipment #pitch {
    display: none;
}

CardWidget #rules-box {
    margin: 1 0 1 0;
    border-top: solid grey;
    layout: vertical;
    height: auto;
}

CardWidget #name {
    width: 10fr;
    content-align: center top;
}

CardWidget #cost {
    width: 1fr;
    background: darkred;
    color: white;
    content-align: center middle;
}

CardWidget.hero #cost {
    display: none;
}

CardWidget.equipment #cost {
    display: none;
}

CardWidget.weapon #cost {
    display: none;
}

CardWidget #flavor {
    margin-top: 1;
    color: $text-muted;
}

CardWidget #bottom {
    height: auto;
    layout: horizontal;
}

CardWidget #power {
    display: none;
    width: 1fr;
    content-align: center middle;
    color: black;
}

CardWidget.attack #power {
    display: block;
    background: yellow;
}

CardWidget.hero #power {
    display: block;
    background: lightblue;
}

CardWidget.weapon #power {
    background: yellow;
    display: block;
}

CardWidget #keywords {
    width: 10fr;
    content-align: center bottom;
}

CardWidget #block {
    display: none;
    width: 1fr;
    content-align: center middle;
    color: black;
}

CardWidget.attack #block {
    display: block;
    background: lightgrey;
}

CardWidget.hero #block {
    display: block;
    background: lightgreen;
}

CardWidget.equipment #block {
    display: block;
    background: lightgrey;
}
